/* SubManu.module.css */

.menu-container {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.menu-container.open {
    opacity: 1;
    visibility: visible;
}